name: Build & Deploy Node Service

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/node-service:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/node-service:latest

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/node-service:latest

            docker stop node-service || true
            docker rm node-service || true

            docker run -d \
              --name node-service \
              -p 3000:3000 \
              -e USERNAME=${{ secrets.USERNAME }} \
              -e PASSWORD=${{ secrets.PASSWORD }} \
              -e SECRET_MESSAGE="${{ secrets.SECRET_MESSAGE }}" \
              ${{ secrets.DOCKERHUB_USERNAME }}/node-service:latest
